<a href="https://colab.research.google.com/github/andrewcgaitskell/celldb/blob/master/DataPipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install Libraries

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import xlsxwriter
import xlrd
import matplotlib

# Introduction

In [ ]:
from datetime import datetime
import os

In [ ]:
from datetime import datetime
my_date = datetime.now()
print(my_date.isoformat())

2020-06-15T15:18:53.632557

In [ ]:
print(my_date.strftime('%Y-%m-%dT%H:%M:%S.%f%z'))

2020-06-15T15:18:53.632557

In [ ]:
runid = "R" + my_date.strftime('%Y%m%d%H%M%S%f%z')
runid

'R20200615151853632557'

In [ ]:
dirname = os.getcwd()
print(dirname)

/home/ubuntu/celldb

## Upload File

# Excel Data Types

The following functions are use to work out the data type of an excel cell.

In [ ]:
def validate_date(date_text):
    try:
        format_string = '%Y-%m-%d %H:%M:%S'
        datetime.strptime(date_text, format_string)
        return "OK"
    except ValueError:
        return None

def GetDataType(row_in):
    valueasstring = str(row_in['CellValue'])
    if validate_date(valueasstring) != None:
        return 'Date'
    elif valueasstring.isnumeric():
        return 'Number'
    else:
        return 'Text'

def add1_2row(row_in):
    return row_in['RowID'] + 1


def add1_2column(row_in):
    return row_in['ColumnID'] + 1

In [ ]:
from ipywidgets import FileUpload
upload = FileUpload()
upload

FileUpload(value={}, description='Upload')

In [ ]:
import io
filedf = pd.read_excel(upload.data[0],sheet_name=None, header=None, encoding='utf-8', errors='ignore')

In [ ]:
filedf

{'AgeGenderSheet':             0                    1      2             3                  4
 0         NaN                  NaN    NaN           NaN                NaN
 1         NaN                  NaN    NaN           NaN                NaN
 2         NaN                  NaN    NaN           NaN                NaN
 3         NaN                  NaN    NaN           NaN                NaN
 4         NaN            Age Table    NaN           NaN                NaN
 5         NaN                  NaN   Name           Age                NaN
 6         NaN                  NaN   Paul           -52                NaN
 7         NaN                  NaN  Ringo            22                NaN
 8         NaN                  NaN  Brian            89                NaN
 9         NaN                  NaN    NaN           NaN                NaN
 10        NaN                  NaN    NaN           NaN                NaN
 11        NaN                  NaN    NaN           NaN                NaN
 12        NaN                  NaN    NaN           NaN                NaN
 13        NaN                  NaN    NaN  Gender Table                NaN
 14        NaN                  NaN    NaN          Name             Gender
 15        NaN                  NaN    NaN          Paul               Male
 16        NaN                  NaN    NaN         Ringo  Prefer not to say
 17        NaN                  NaN    NaN         Brian               Male
 18        NaN                  NaN    NaN           NaN                NaN
 19        NaN                  NaN    NaN           NaN                NaN
 20        NaN                  NaN    NaN           NaN                NaN
 21        NaN                  NaN    NaN           NaN                NaN
 22  DOB Table                  NaN    NaN           NaN                NaN
 23       Name                D.O.B    NaN           NaN                NaN
 24       Paul  1955-07-01 00:00:00    NaN           NaN                NaN
 25      Ringo  1996-01-09 00:00:00    NaN           NaN                NaN
 26      Brian           7th Aug 28    NaN           NaN                NaN,
 'HomeSheet':                       0          1
 0                   NaN        NaN
 1                   NaN        NaN
 2                   NaN        NaN
 3                   NaN        NaN
 4                   NaN        NaN
 5                   NaN        NaN
 6                   NaN        NaN
 7   Home Location Table        NaN
 8              Employee   Location
 9                 Brian     London
 10                Ringo  Liverpool
 11                 Paul  Blackpool,
 'JobSheet':     0   1                      2              3    4
 0 NaN NaN                    NaN            NaN  NaN
 1 NaN NaN                    NaN            NaN  NaN
 2 NaN NaN                    NaN            NaN  NaN
 3 NaN NaN                    NaN            NaN  NaN
 4 NaN NaN                    NaN            NaN  NaN
 5 NaN NaN  Job Description Table            NaN  NaN
 6 NaN NaN              Job Title  Employee Name   ID
 7 NaN NaN     Production Manager           Paul    A
 8 NaN NaN             Programmer          Ringo    1
 9 NaN NaN             Accountant          Brian    2,
 'MaritalDepartmentSheet':                       0                  1   2   3                 4  \
 0                   NaN                NaN NaN NaN               NaN
 1                   NaN                NaN NaN NaN  Department Table
 2  Marital Status Table                NaN NaN NaN              Name
 3                  Name             Status NaN NaN              Paul
 4                  Paul            Married NaN NaN             Ringo
 5                 Ringo  Civil Partnership NaN NaN             Brian
 6                 Brian             Single NaN NaN               NaN

             5
 0         NaN
 1         NaN
 2  Department
 3  Production
 4          IT
 5    Accounts
 6         NaN  ,
 'DataMap':                          0                      1                     2  \
 0                SheetName          ReferenceText  RowFromReferenceText
 1           AgeGenderSheet              Age Table                     2
 2           AgeGenderSheet              Age Table                     2
 3           AgeGenderSheet           Gender Table                     2
 4           AgeGenderSheet           Gender Table                     2
 5           AgeGenderSheet              DOB Table                     2
 6           AgeGenderSheet              DOB Table                     2
 7   MaritalDepartmentSheet   Marital Status Table                     2
 8   MaritalDepartmentSheet   Marital Status Table                     2
 9   MaritalDepartmentSheet       Department Table                     2
 10  MaritalDepartmentSheet       Department Table                     2
 11                JobSheet  Job Description Table                     2
 12                JobSheet  Job Description Table                     2
 13                JobSheet  Job Description Table                     2
 14               HomeSheet    Home Location Table                     2
 15               HomeSheet    Home Location Table                     2

                           3              4               5             6  \
 0   ColumnFromReferenceText   TemplateText       DataGroup  DataCategory
 1                         1           Name            Ages           NaN
 2                         2            Age            Ages           NaN
 3                         0           Name         Genders           NaN
 4                         1         Gender         Genders           NaN
 5                         0           Name             DoB           NaN
 6                         1          D.O.B             DoB           NaN
 7                         0           Name  Marital Status           NaN
 8                         1         Status  Marital Status           NaN
 9                         0           Name      Department           NaN
 10                        1     Department      Department           NaN
 11                        0      Job Title            Jobs           NaN
 12                        1  Employee Name            Jobs           NaN
 13                        2             ID            Jobs           NaN
 14                        0       Employee   Home Location           NaN
 15                        1       Location   Home Location           NaN

             7              8              9
 0   DataScope  Column Header        Dataset
 1         NaN           Name           Ages
 2         NaN            Age           Ages
 3         NaN           Name        Genders
 4         NaN         Gender        Genders
 5         NaN           Name            DoB
 6         NaN          D.O.B            DoB
 7         NaN           Name  MaritalStatus
 8         NaN         Status  MaritalStatus
 9         NaN           Name     Department
 10        NaN     Department     Department
 11        NaN      Job Title           Jobs
 12        NaN  Employee Name           Jobs
 13        NaN             ID           Jobs
 14        NaN       Employee   HomeLocation
 15        NaN       Location   HomeLocation  ,
 'TemplateValidationMap':                          0                 1                      2  \
 0                SheetName           DataSet          ReferenceText
 1           AgeGenderSheet              Ages              Age Table
 2           AgeGenderSheet              Ages              Age Table
 3           AgeGenderSheet              Ages              Age Table
 4           AgeGenderSheet           Genders           Gender Table
 5           AgeGenderSheet           Genders           Gender Table
 6           AgeGenderSheet           Genders           Gender Table
 7           AgeGenderSheet               DoB              DOB Table
 8           AgeGenderSheet               DoB              DOB Table
 9           AgeGenderSheet               DoB              DOB Table
 10  MaritalDepartmentSheet    Marital Status   Marital Status Table
 11  MaritalDepartmentSheet    Marital Status   Marital Status Table
 12  MaritalDepartmentSheet    Marital Status   Marital Status Table
 13  MaritalDepartmentSheet  Department Table       Department Table
 14  MaritalDepartmentSheet  Department Table       Department Table
 15  MaritalDepartmentSheet  Department Table       Department Table
 16                JobSheet              Jobs  Job Description Table
 17                JobSheet              Jobs  Job Description Table
 18                JobSheet              Jobs  Job Description Table
 19                JobSheet              Jobs  Job Description Table
 20               HomeSheet      HomeLocation    Home Location Table
 21               HomeSheet      HomeLocation    Home Location Table
 22               HomeSheet      HomeLocation    Home Location Table

                        3                        4                      5
 0   RowFromReferenceText  ColumnFromReferenceText           TemplateText
 1                      0                        0              Age Table
 2                      1                        1                   Name
 3                      1                        2                    Age
 4                      0                        0           Gender Table
 5                      1                        0                   Name
 6                      1                        1                 Gender
 7                      0                        0              DOB Table
 8                      1                        0                   Name
 9                      2                        1                  D.O.B
 10                     0                        0   Marital Status Table
 11                     1                        0                   Name
 12                     1                        1                 Status
 13                     0                        0       Department Table
 14                     1                        0                   Name
 15                     1                        1             Department
 16                     0                        0  Job Description Table
 17                     1                        0              Job Title
 18                     1                        1          Employee Name
 19                     1                        2                     ID
 20                     0                        0    Home Location Table
 21                     1                        0               Employee
 22                     1                        1               Location  ,
 'DataSet':                 0                       1                      2  \
 0         DataSet               SheetName     ReferenceTextStart
 1            Ages          AgeGenderSheet              Age Table
 2            Ages          AgeGenderSheet              Age Table
 3         Genders          AgeGenderSheet           Gender Table
 4         Genders          AgeGenderSheet           Gender Table
 5             DoB          AgeGenderSheet              DOB Table
 6             DoB          AgeGenderSheet              DOB Table
 7   MaritalStatus  MaritalDepartmentSheet   Marital Status Table
 8   MaritalStatus  MaritalDepartmentSheet   Marital Status Table
 9      Department  MaritalDepartmentSheet       Department Table
 10     Department  MaritalDepartmentSheet       Department Table
 11           Jobs                JobSheet  Job Description Table
 12           Jobs                JobSheet  Job Description Table
 13           Jobs                JobSheet  Job Description Table
 14   HomeLocation               HomeSheet    Home Location Table
 15   HomeLocation               HomeSheet    Home Location Table

                    3                     4                        5  \
 0   ReferenceTextEnd  RowFromReferenceText  ColumnFromReferenceText
 1       Gender Table                     2                        1
 2       Gender Table                     2                        2
 3          DOB Table                     2                        0
 4          DOB Table                     2                        1
 5                NaN                     2                        0
 6                NaN                     2                        1
 7                NaN                     2                        0
 8                NaN                     2                        1
 9                NaN                     2                        0
 10               NaN                     2                        1
 11               NaN                     2                        0
 12               NaN                     2                        1
 13               NaN                     2                        2
 14               NaN                     2                        0
 15               NaN                     2                        1

                 6              7                 8                 9
 0   FieldPosition        FieldID  FieldDescription  TableOrientation
 1               1           Name              Name              Down
 2               2            Age               Age              Down
 3               1           Name              Name              Down
 4               2         Gender            Gender              Down
 5               1           Name              Name              Down
 6               2            DoB             D.O.B              Down
 7               1           Name              Name               NaN
 8               2         Status            Status               NaN
 9               1           Name              Name               NaN
 10              2     Department        Department               NaN
 11              1      Job_Title         Job Title               NaN
 12              2  Employee_Name     Employee Name               NaN
 13              3             ID                ID               NaN
 14              1       Employee          Employee               NaN
 15              2       Location          Location               NaN  ,
 'Rules':         0                1              2         3       4          5   \
 0   RuleID          DataSet        FieldID  DataType  Format  RangeFrom
 1        1             Ages           Name      Text     NaN        NaN
 2        2             Ages            Age    Number     NaN        NaN
 3        3          Genders           Name      Text     NaN        NaN
 4        4          Genders         Gender      Text     NaN        NaN
 5        5              DoB           Name      Text     NaN        NaN
 6        6              DoB            DoB      Date     NaN        NaN
 7        7    MaritalStatus           Name      Text     NaN        NaN
 8        8    MaritalStatus         Status      Text     NaN        NaN
 9        9  DepartmentTable           Name      Text     NaN        NaN
 10      10  DepartmentTable     Department      Text     NaN        NaN
 11      11             Jobs      Job_Title      Text     NaN        NaN
 12      12             Jobs  Employee_Name      Text     NaN        NaN
 13      13             Jobs             ID    Number     NaN        NaN
 14      14     HomeLocation       Employee      Text     NaN        NaN
 15      15     HomeLocation       Location      Text     NaN        NaN

          6     7       8              9         10              11     12
 0   RangeTo  Null  Length       PickList     Rule1           Rule2  Rule3
 1       NaN     N     NaN            NaN       NaN             NaN    NaN
 2       NaN     N     NaN            NaN  Positive  GreaterThanTen    NaN
 3       NaN     N     NaN            NaN       NaN             NaN    NaN
 4       NaN     N     NaN         Gender       NaN             NaN    NaN
 5       NaN     N     NaN            NaN       NaN             NaN    NaN
 6       NaN     N     NaN            NaN       NaN             NaN    NaN
 7       NaN     N     NaN            NaN       NaN             NaN    NaN
 8       NaN     N     NaN  MaritalStatus       NaN             NaN    NaN
 9       NaN     N     NaN            NaN       NaN             NaN    NaN
 10      NaN     N     NaN            NaN       NaN             NaN    NaN
 11      NaN     N     NaN            NaN       NaN             NaN    NaN
 12      NaN     N     NaN            NaN       NaN             NaN    NaN
 13      NaN     N     NaN            NaN       NaN             NaN    NaN
 14      NaN     N     NaN            NaN       NaN             NaN    NaN
 15      NaN     N     NaN   HomeLocation       NaN             NaN    NaN  ,
 'Palette':                        0                                                  1  \
 0                KeyWord                                               Rule
 1                   Date                                       Must Be Date
 2                 Number                                     Must Be Number
 3                   Text                                       Must Be Text
 4                NotNull                                   Must Not Be Null
 5             1OrGreater                               Must be 1 or greater
 6               Positive                                   Must Be Positive
 7            NotNegative                               Must Not Be Negative
 8       FieldSizeMaximum                               Cannot Exceed Length
 9       FieldSizeMinimum                                 Must Exceed Length
 10       FieldSizeLength                               Must Be Exact Length
 11              PickList                                Must Be in Picklist
 12               Pattern                                 Must Match Pattern
 13             DateRange                                   Must Be in Range
 14     IsAllAlphaNumeric                        Only Contain Alpha Numerics
 15                 Email                              Must be Email Address
 16         ShortPostCode  Must contain only the first part of the Post Code
 17  GreaterThanRangeFrom                             Greater than RangeFrom
 18                  Less                                  Less than RangeTo
 19              PostCode                            Must be PostCode format
 20            NoDayInDoB                              No Day entered in DoB
 21        GreaterThanTen                           Must be greater than ten

                                                     2  \
 0                                      CheckPerformed
 1                                   Data Type is Date
 2                                 Data Type is Number
 3                                   Data Type is Text
 4                                Field cannot be Null
 5                              Number is 1 or greater
 6                                  Number is Positive
 7                              Number is Not Negative
 8                                 Field Limit Checked
 9                          Minimum Field Size Checked
 10                           Checked Exact Field Size
 11                               Validate to Picklist
 12                                Validate to Pattern
 13                                 Date Range Checked
 14                              Data is Alpha Numeric
 15                 Data is Formatted as Email address
 16  Length >1 AND length <5 AND First character mu...
 17                             Greater than RangeFrom
 18                                  Less than RangeTo
 19                    CellValue formatted as PostCode
 20                    Check that 01 is only day value
 21                                    Greater than 10

                                    3                4  \
 0                       ErrorMessage  AlteryxDataType
 1                   Date Not Entered             Date

# Read All Sheets into Data Frame

In [ ]:
sheetnames = list(filedf.keys())

In [ ]:
print(sheetnames)

['AgeGenderSheet', 'HomeSheet', 'JobSheet', 'MaritalDepartmentSheet', 'DataMap', 'TemplateValidationMap', 'DataSet', 'Rules', 'Palette', 'PickList']

Each Sheet is retrieved into Dataframes

DataMapDF = specdf['DataMap']
TemplateValidationMapDF = specdf['TemplateValidationMap']
DataSetDF = specdf['DataSet']
RulesDF = specdf['Rules']
PaletteDF = specdf['Palette']
PickListDF = specdf['PickList']
datadf = pd.DataFrame()

The following converts the whole spreadsheet into a cell database and this is used throughout for all data frame population.

In [ ]:
celldbstagedf = pd.DataFrame()
sheetdf = filedf['DataMap'].copy()
sheetdf["RowID"] = sheetdf.index
sheetdf

,0,1,2,3,4,5,6,7,8,9,RowID
0,SheetName,ReferenceText,RowFromReferenceText,ColumnFromReferenceText,TemplateText,DataGroup,DataCategory,DataScope,Column Header,Dataset,0
1,AgeGenderSheet,Age Table,2,1,Name,Ages,NaN,NaN,Name,Ages,1
2,AgeGenderSheet,Age Table,2,2,Age,Ages,NaN,NaN,Age,Ages,2
3,AgeGenderSheet,Gender Table,2,0,Name,Genders,NaN,NaN,Name,Genders,3
4,AgeGenderSheet,Gender Table,2,1,Gender,Genders,NaN,NaN,Gender,Genders,4
5,AgeGenderSheet,DOB Table,2,0,Name,DoB,NaN,NaN,Name,DoB,5
6,AgeGenderSheet,DOB Table,2,1,D.O.B,DoB,NaN,NaN,D.O.B,DoB,6
7,MaritalDepartmentSheet,Marital Status Table,2,0,Name,Marital Status,NaN,NaN,Name,MaritalStatus,7
8,MaritalDepartmentSheet,Marital Status Table,2,1,Status,Marital Status,NaN,NaN,Status,MaritalStatus,8
9,MaritalDepartmentSheet,Department Table,2,0,Name,Department,NaN,NaN,Name,Department,9
10,MaritalDepartmentSheet,Department Table,2,1,Department,Department,NaN,NaN,Department,Department,10
11,JobSheet,Job Description Table,2,0,Job Title,Jobs,NaN,NaN,Job Title,Jobs,11
12,JobSheet,Job Description Table,2,1,Employee Name,Jobs,NaN,NaN,Employee Name,Jobs,12
13,JobSheet,Job Description Table,2,2,ID,Jobs,NaN,NaN,ID,Jobs,13
14,HomeSheet,Home Location Table,2,0,Employee,Home Location,NaN,NaN,Employee,HomeLocation,14
15,HomeSheet,Home Location Table,2,1,Location,Home Location,NaN,NaN,Location,HomeLocation,15

In [ ]:
for currentsheetname in sheetnames:

    sheetdf = filedf[currentsheetname].copy()
    sheetdf["RowID"] = sheetdf.index
    celldb = pd.melt(sheetdf, id_vars=['RowID'])
    celldb = celldb.rename(columns={"variable": "ColumnID", "value": "CellValue"})
    celldb["CellType"] = "Unset"
    celldb["FileName"] = runid
    celldb["SheetName"] = currentsheetname
    
    celldb["ColumnID"] = celldb["ColumnID"]

    try:
        celldb["CellType"] = celldb.apply(GetDataType, axis=1)
        celldb["RowID"] = celldb.apply(add1_2row, axis=1)
        celldb["ColumnID"] = celldb.apply(add1_2column, axis=1)

    except:

        celldb["CellType"] = 'unknown'
        celldb["RowID"] = 0
        celldb["ColumnID"] = 0

    celldbstagedf = celldbstagedf.append(celldb, ignore_index=True)

    celldb = pd.DataFrame()

In [ ]:
df = celldbstagedf[celldbstagedf['SheetName']=='AgeGenderSheet']
df

,RowID,ColumnID,CellValue,CellType,FileName,SheetName
0,0,0,NaN,Text,R20200615151853632557,AgeGenderSheet
1,1,0,NaN,Text,R20200615151853632557,AgeGenderSheet
2,2,0,NaN,Text,R20200615151853632557,AgeGenderSheet
3,3,0,NaN,Text,R20200615151853632557,AgeGenderSheet
4,4,0,NaN,Text,R20200615151853632557,AgeGenderSheet
...,...,...,...,...,...,...
2378,23,5,NaN,Text,R20200615151853632557,AgeGenderSheet
2379,24,5,NaN,Text,R20200615151853632557,AgeGenderSheet
2380,25,5,NaN,Text,R20200615151853632557,AgeGenderSheet
2381,26,5,NaN,Text,R20200615151853632557,AgeGenderSheet
2382,27,5,NaN,Text,R20200615151853632557,AgeGenderSheet

# Get Picklist Values

Picklist are like a mini Master Data Management System

They define the acceptable values for a partcular Field in Excel

The challenge here was to check one column to a another column that contained a list.  I go there in the end.

In [ ]:
PickListCells = pd.DataFrame()
# This process uses the full cell database as the column headings are the Picklist Names
PickListCells = fullcelldb[(fullcelldb['SheetName'] == 'PickList')].copy()
# PickListCellsList = PickListCells.groupby('ColumnID')['CellValue'].apply(lambda group_series: group_series.tolist()).reset_index()

PickListCellsList = PickListCells.groupby('ColumnID').agg({'CellValue':lambda x: list(x)})

# these were odd, but glad I work them out, it is important to realise that these are operations on a number of rows, not just one
# maybe it was the axis that made the difference!
PickListCellsList['KeyWord'] = PickListCellsList.apply(lambda row : row['CellValue'][0], axis = 1)
PickListCellsList['FormulaKeyWord'] = PickListCellsList.apply(lambda row : 'PickList', axis = 1)
PickListCellsList['List'] = PickListCellsList.apply(lambda row : row['CellValue'][1:], axis = 1)
# PickListCellsList['KeyWord'] = PickListCellsList['CellValue']
#PickListCellsList= pd.DataFrame(PickListCellsList, columns=['KeyWord', 'List'])
PickListCellsList = pd.DataFrame(PickListCellsList, columns=['KeyWord', 'FormulaKeyWord', 'List'])
PickListCellsList.head()

In [ ]:
# These were attempts at creating a suitable list for the function to check to

# PickListCellsList['Result'] = PickListCellsList['KeyWord'].isin(PickListCellsList['List']).map({True: 0, False: 1})

# PickListCellsList['Result'] = PickListCellsList['KeyWord'].str.contains('|'.join(PickListCellsList['List']))
# PickListCellsList['Result'] = PickListCellsList['KeyWord'].str.contains('|'.join(x) for x in PickListCellsList['List'])
# ["".join(x) for x in lst]
# PickListCellsList['ListAsString'] = PickListCellsList['List'].str.join('-')
# PickListCellsList['ListAsTuple'] = tuple(PickListCellsList['CellValue'])

In [ ]:
#MyList = pd.DataFrame()
#MyList =  PickListCellsList
# still do not know why the following DOES NOT WORK!
# MyList['Result'] = PickListCellsList['ListAsString'].isin(PickListCellsList['KeyWord'])

# leaving this as a rememberance of the 6 hours spent on this!
# MyList['Result1'] = PickListCellsList['KeyWord'].apply(lambda x: any(i in x for i in PickListCellsList['List']))
# MyList['Result2'] = PickListCellsList['ListAsString'].str.contains(PickListCellsList['KeyWord'])
# mask = df['A'].apply(lambda x: any(i in x for i in search_list))
# PickListCellsList['Result2'] = PickListCellsList['ListAsTuple'].str.contains(PickListCellsList['KeyWord'])
# PickListCellsList['Result2'] = PickListCellsList['KeyWord'].str.contains(tuple(PickListCellsList['List']))
# PickListCellsList['ListAsTuple'].isin(PickListCellsList['KeyWord'])
# MyList['Result2'] = PickListCellsList['List'].apply(lambda x: True if (PickListCellsList.KeyWord in x).any() else False)
######### MyList['sing'] = 'Single'
# MyList['res1'] = MyList.apply(lambda ts: any(ts == 'Single'), axis=1)
# MyList['res2'] = MyList.apply(lambda ts: MyList['KeyWord'].str.contains('Single'), axis=1)
######### MyList['res3'] = MyList.apply(lambda x: x['sing'] in x['ListAsTuple'], axis=1)  ###############
######### MyList['res4'] = MyList.apply(lambda x: x['sing'] in x['List'], axis=1).map({True: 1, False: 0}) ###############
# # # # dataset.apply(lambda x: x['CellValue'] in x['PickList'], axis=1).map({True: 1, False: 0})
# data['Activity].str.contains('skin diving')
# lambda x : True if (x > 10 and x < 20) else False
#MyList.head()
# https://stackoverflow.com/questions/48460234/pandas-apply-valueerror-the-truth-value-of-a-series-is-ambigous

# Get Data Map

In [ ]:
DataMapCells = pd.DataFrame()
DataMapCells = fullcelldb[(fullcelldb['SheetName'] == 'DataMap')].copy()
DataMapCells.head()

Below extracts a Sheet from the cell database and reshapes it to it original tabular form.

In [ ]:
DataMap = pd.DataFrame()
DataMap = DataMapCells.pivot_table(index = ['RowID'], values = 'CellValue',columns = 'ColumnID', aggfunc = 'max')
ColumnHeadings = DataMap.iloc[0]
ColumnHeadingsList = list(ColumnHeadings)
print(ColumnHeadingsList)
ColumnHeadingsListTuple = enumerate(ColumnHeadingsList,start=1)
ColumnHeadingsListDict = dict(ColumnHeadingsListTuple)
print(ColumnHeadingsListDict)
DataMap = DataMap.rename(columns=ColumnHeadingsListDict)
DataMap = DataMap.drop([1])
DataMap.head()

# Make Rules Database

In [ ]:
RulesDF.head()

The above is the Rules definition sheet. It used KeyWords to define the checks.  Below forms a list of KeyWords that are relevant to a particular field in a DataSet

In [ ]:
rulesdb = pd.DataFrame()
rulesdb = pd.melt(RulesDF, id_vars=['RuleID', 'DataSet', 'FieldID'])
rulesdb = rulesdb.rename(columns={"variable": "RuleType", "value": "KeyWord"})
rulesdb = rulesdb[rulesdb.KeyWord.notnull()]
# df['A'] = df.apply(lambda x: x['B'] if x['A']==0 else x['A'], axis=1)
# The following adds the KeyWord Null into the Rules list - if Null is N, this means Nulls are Not Allowed
rulesdb['KeyWord'] = rulesdb.apply(lambda x: x['RuleType'] if x['KeyWord']=='N' else x['KeyWord'], axis=1)

PickListCellsList

rulesdb = pd.merge(rulesdb,PickListCellsList, on=['KeyWord'],how='left')

rulesdb.head(5)

# Add Code and Formulae to Rules Database

Palette defines the Rule Text and Rule Formula.  We have implemented rules on Alteryx, SQL, Python & Javascript

In [ ]:
palette = pd.DataFrame()
palette = pd.merge(DataSetDF, rulesdb, on=['FieldID', 'DataSet'])
palette['KeyWord'] = rulesdb.apply(lambda x: x['FormulaKeyWord'] if x['FormulaKeyWord']=='PickList' else x['KeyWord'], axis=1)
palette.head(5)

In [ ]:

palette = pd.merge(palette, PaletteDF, on=['KeyWord'],how='left')

In [ ]:
palette.head(5)

# Get Start Anchor Cells

Start Anchors are where tables are mapped from, every dataset in the spreadsheet must be anchored to a uniquely identifiable cell in a particular sheet.

In [ ]:
startanchors = pd.DataFrame()
startanchors = pd.DataFrame(DataSetDF, columns=['DataSet', 'SheetName', 'ReferenceTextStart'])
startanchors = startanchors.rename(columns={"ReferenceTextStart": "CellValue"})
startanchors = startanchors.drop_duplicates()
startanchors.head()

# Get All End Anchor Cells

End anchors are where a dataset finishes. Probably at the next Start Anchor.
This does mean that blank rows are validated and one needs to filter these out later.

In [ ]:
endanchors = pd.DataFrame()
endanchors = pd.DataFrame(DataSetDF, columns=['DataSet', 'SheetName', 'ReferenceTextEnd'])
endanchors = endanchors.rename(columns={"ReferenceTextEnd": "CellValue"})
endanchors = endanchors.drop_duplicates()
endanchors.head()

# Find Start Anchors

Now we look for the start and finish anchor cells for each dataset.

In [ ]:
findstartanchors = pd.DataFrame()
findstartanchors = pd.merge(startanchors, fullcelldfstage, on=['SheetName', 'CellValue'])
findstartanchors = findstartanchors.rename(columns={"RowID": "AnchorRow", "ColumnID": "AnchorColumn"})
findstartanchors = pd.DataFrame(findstartanchors, columns=['DataSet', 'SheetName', 'AnchorRow', 'AnchorColumn'])
findstartanchors.head()

# Find End Anchors

Some datasets have no finish anchors as they are the last table in the sheet.

In [ ]:
findendanchors = pd.DataFrame()
findendanchors = pd.merge(endanchors, fullcelldfstage, on=['SheetName', 'CellValue'])
findendanchors = findendanchors.rename(columns={"RowID": "EndRow"})
findendanchors = findendanchors[findendanchors.CellValue.notnull()]
findendanchors = pd.DataFrame(findendanchors, columns=['DataSet', 'SheetName', 'EndRow'])
findendanchors.head()

# Join Anchors Together

Join the anchors to allow them to be joined with the data table
As stated above, some DataSets have NaN as the EndRow as there is no further data in the sheet

In [ ]:
anchors = pd.DataFrame()
anchors = pd.merge(findstartanchors, findendanchors, on=['DataSet', 'SheetName'], how='left')
anchors.head()

# Using Anchors and Dataset Create Map to Find Data

The DataSet defines where the DataSets can be found from the Start Anchor Cells
The following joins the found cells with the DataSet map.

In [ ]:
datasetmap = pd.DataFrame()
datasetmap = pd.merge(DataSetDF, anchors, on=['DataSet', 'SheetName'], how='left')
datasetmap = pd.DataFrame(datasetmap,
                          columns=['DataSet', 'SheetName', 'FieldID',
                                   'AnchorRow', 'AnchorColumn','EndRow',
                                   'RowFromReferenceText',
                                   'ColumnFromReferenceText','FieldPosition'])

## Show Dataset Map

In [ ]:
datasetmap.head()

# Find where Data Starts and what Columns Fields are In

One needs to now calculate the actual rows and columns of where the DataSet is.
The above table is relative to the Anchor Cells

In [ ]:
datasetmap['StartRow'] = datasetmap['AnchorRow'] + datasetmap['RowFromReferenceText']
datasetmap['FieldColumn'] = datasetmap['AnchorColumn'] + datasetmap['ColumnFromReferenceText']
dataset = pd.DataFrame()
dataset = pd.merge(fullcelldfstage, datasetmap, on=['SheetName'], how='left')
## the above may seem a cartesian join and may need to be looked at if this slows the process down

# Filter Out Data after End Anchor Row

In [ ]:
dataset = dataset[(dataset.RowID >= dataset.StartRow) &
(dataset.ColumnID == dataset.FieldColumn) &
((dataset.RowID < dataset.EndRow) | pd.isnull(dataset.EndRow))]
# the | above is an OR as if there is no EndRow for the dataset you want to
# allow the data through

In [ ]:
palette.head(5)

# Create a CellValue as Number for use in Formulae

In [ ]:
dataset = pd.DataFrame(dataset,columns=['DataSet', 'SheetName', 'FieldID', 'RowID', 'ColumnID','CellValue', 'CellType'])
dataset['CellValueAsNumber'] = pd.to_numeric(dataset['CellValue'], errors='coerce')
dataset.head(5)

# Create a List of Checks to do

In [ ]:
todolist = pd.DataFrame()
todolist = pd.merge(dataset, palette, on=['DataSet', 'FieldID'])
todolist.head(5)

# Create a List of distinct formula to apply

In [ ]:
formulas = pd.DataFrame()
formulas = pd.DataFrame(todolist, columns=['KeyWord','PythonFormula'])
formulas = formulas.drop_duplicates()
formulas.head(10)

# Prepare Results Table

In [ ]:
global bigresults
littletodolist = pd.DataFrame()
littletodolistworking = pd.DataFrame()
bigresults = pd.DataFrame()

In [ ]:
# this was an important test as if you do not have copy you get an error as it believes
# you are trying to change a view
#littletodolist = todolist[(todolist.KeyWord == 'PickList')].copy()
#littletodolist.head(100)
#filterdf = pd.DataFrame()
#filterdf = todolist[(todolist.KeyWord == 'PickList')].copy()
#filterdf.head()

In [ ]:
# littletodolist.loc[littletodolist.KeyWord == 'Text', 'Result'] = np.where(littletodolist['CellType'] == 'Text', 1, 0)

# Loop through each Formula and apply to the To Do List

In [ ]:
todolist = todolist.rename(columns={'CellValue_x': 'CellValue'})
##todolist.columns

In [ ]:
for index, row in formulas.iterrows():
  # print(row['KeyWord'],row['PythonFormula'])

  pf = row['PythonFormula']
  kw = row['KeyWord']
 
  try:
      pf1 = pf.replace("dataset", "littletodolist")
  except:
      pf1 = "1"
  littletodolist = todolist[(todolist.KeyWord == kw)].copy()
  formula2do = "littletodolist['Result'] = " + pf1
  print(kw)
  print(formula2do)
  exec(formula2do)
  ##print(littletodolist)
  ##try:
  ##bigresults = pd.concat([bigresults, littletodolist], ignore_index=True).drop_duplicates().reset_index(drop=True)
  bigresults = pd.concat([bigresults, littletodolist]) ##, ignore_index=True).drop_duplicates().reset_index(drop=True)
  ##except:
  #  bigresults = bigresults

In [ ]:
littletodolist['Result'] = np.where(littletodolist['CellType'] == 'Text', 1, 0)

# Add a sequence to the Results for use in Reporting

In [ ]:
bigresults['ResultID'] = bigresults.index

In [ ]:
bigresults.head(5)

# Narrow down Results to useful columnns

In [ ]:
usefulresults = pd.DataFrame()
usefulresults = pd.DataFrame(bigresults, columns=['DataSet','FieldID','RowID','ColumnID','CellValue','CellType','CheckPerformed', 'Result'])
usefulresults.head()

# Summarise Results

In [ ]:
resultssummary = pd.DataFrame()
# index = pd.MultiIndex.from_arrays(arrays, names=['first', 'second'])
# resultssummary.head()

resultssummary = bigresults[['DataSet','FieldID','CheckPerformed', 'Result', 'ResultID']].groupby(['DataSet', 'FieldID', 'CheckPerformed']).agg(['count'])
resultssummary.head(5)

# Pivot Results

In [ ]:
# rownamearray = pd.array(['DataSet','FieldID'], dtype=str)
# newct = pd.crosstab(bigresults.DataSet,bigresults.FieldID,bigresults.CheckPerformed,bigresults.Result,rownames=rownamearray, colnames=['Result'])

newct = bigresults.pivot_table(index = ['DataSet','FieldID','CheckPerformed'], values = 'ResultID',columns = 'Result', aggfunc = 'count')
newct.head()

# Plot Stack Bar

## Show Stack

In [ ]:
newct.plot(kind='barh', stacked=True)